@import url(./variables.css);



@keyframes menuPopup {

  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  50% { transform: scale(1.1); }

  100% {
    opacity: 1;
    transform: scale(1);
  }

}

/* @keyframes small-sidebar{
    
    0%{
        width: 300px;
        
    }
    100%{
        
       width: 0 !important;
    }
} */

#small-sidebar{
    
    /* display: none; */
    background: var(--sidebar-bg);
    border-right: var(--border-color);
    overflow: hidden;
    /* animation: small-sidebar 0.5s ease forwards; */
    animation: menuPopup 0.8s ease forwards;
    /* transition: all 1s linear; */
    /* min-height: 100vh; */
    /* width: 330px; */
    transition: all 0.5s linear;
    
    height: 0 !important;
    width: 0 !important;
    
    position: fixed;
    top: 70px;
    left: 0;
    
    z-index: 0 !important;
}
#small-sidebar.active{
    
 
    /* animation: small-sidebar 1 ease forwards; */
    
    width: 300px !important;
    min-height: 100vh !important;
}

#ss-ul{
    
    /* background: #FFE5E5; */
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    
    height: 100vh;
    width: 100%;
    
    /* padding-top: 2rem !important; */
}
.ss-li{
    
    /* background: #ADB4FF; */
    border-bottom: var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    
    height: 50px;
    width: 250px;
}
.ss-li:hover{
    
    background: var(--primary-bg-1o1);
    /* -webkit-border-radius: 15px; */
    /* -moz-border-radius: 15px; */
    /* border-radius: 15px; */
}












/*-----------------------------------*\
  #Media quires
\*-----------------------------------*/
@media(min-width:900px){
    
    
    #small-sidebar{
        
        display: block !important;
        overflow: hidden;
        transition: none !important;
       
        
        width: 70px !important;
        min-height: 200vh !important;
        
        
        z-index: 0 !important;
    }
    .ss-li a{
        
        display: none;
    }
    
    
    #small-sidebar.active{
        
        width: 250px !important;
        min-height: 200vh !important;
        
        transition: all 0.5s linear !important;
        
    }
    #small-sidebar.active .ss-li a{
        display: block;
    }

    
    
}
